<div class="search">
    <h1>Take Home Test</h1>
    <form method="POST">
        <input placeholder="Ex: Dog, wallpaper..." type="text">
        <button type="submit">Search</button>
    </form>
    <button class="button">Favorite Photos</button>
</div>

<div class="gallery">
    <div>
        <img src="https://www.rd.com/wp-content/uploads/2019/04/shutterstock_1013848126-760x506.jpg" />
        <button class="button">Add to Favorites</button>
    </div>
    <div>
        <img src="https://www.rd.com/wp-content/uploads/2019/04/shutterstock_1013848126-760x506.jpg" />
        <button class="button">Add to Favorites</button>
    </div>
    <div>
        <img src="https://www.rd.com/wp-content/uploads/2019/04/shutterstock_1013848126-760x506.jpg" />
        <button class="button">Add to Favorites</button>
    </div>
    <div>
        <img src="https://www.rd.com/wp-content/uploads/2019/04/shutterstock_1013848126-760x506.jpg" />
        <button class="button">Add to Favorites</button>
    </div>

</div>
